<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite de pruebas">
    <test name="Primer test">
        <classes>
            <class name="org.practicaprovider.intermedio.DataProviderPractica"></class>
            <class name="org.practicaprovider.intermedio.DataProviderPractica2"></class>
        </classes>
    </test>
</suite>